checkpoints/

__pycache__/
.vscode/*
*.pth.tar
*.pth
*.png 
*.jpg 
!ctta/vendor/daf_imagecorruptions/frost/*.png
!ctta/vendor/daf_imagecorruptions/frost/*.jpg
*.pdf 
*.out

*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints
*/*.pth
thumbs.db
.DS_Store
.idea
*.log
